<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RGB Remote Widget iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RGB Remote macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RGB Remote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4501F7D61C8FDE4900386E55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4501F7EB1C8FFC3600386E55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4521EB3D1DA6029700042458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>453C42781C5AE40B001D2D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45FB34671DA6E1A400238535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
